[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "lib/foleys_gui_magic"]
	path = lib/foleys_gui_magic
	url = https://github.com/ffAudio/foleys_gui_magic
	branch = develop
